*{
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
}
header {
    padding: 30px 0;
}
header.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}
header nav a{
        color: #aaa;
        text-decoration: none;
        margin-right: 20px;
}
header nav a:hover,
header nav a.active{
        color: #fff;
}
h1{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: aliceblue;
}
main{
        align-items: center;
        color: #aaa;
        width: 80%;
        max-width: 1041px;
        margin: 50px auto; 
}
.sobre-mi{
    font-size: 16px;
    min-height: 40.62em;
    background-image: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0, .50) 100%),  url(../../img/dayme.jpg);
    background-position: center center;  
    background-size: cover;
}
.sobre-mi .titulo{
    font-weight: bold;
    font-size: 3.12em;
    margin-bottom: 6.5em;
}
.sobre-mi .descripcion{
    font-weight: normal;
    font-size: 10em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.sobre-mi .boton{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
.sobre-mi .boton i{
    margin-right: 1.25em;
}
